<div *ngFor="let contentItem of contentList; 
            let isFirst = first" class="content-card" [class.first-item]="isFirst">

    <img [src]="contentItem.imgUrl" class="content-card-image" height="250px" width="200px">

    <h2>{{ contentItem.title }}</h2>
    <p><strong>Description:</strong> 
        {{ contentItem.description }}
    </p>
    
    <p><strong>Creator:</strong> 
        {{ contentItem.creator }}
    </p>
    
    <p *ngIf="contentItem.type">
        <strong>Type: </strong>
        {{ contentItem.type }}
    </p>


    <p *ngIf="contentItem.tags && contentItem.tags.length > 0">
        <strong>Tags:</strong> 
        {{ contentItem.tags }}
    </p>
 
</div>
