
<br>
<input type="text" [(ngModel)]="searchTitle" placeholder="Enter title">
<button (click)="checkContentExists()">Check Existence</button>


<!-- Display search result message -->
<p [ngStyle]="{'color': contentExists ? 'green' : 'red'}">{{ message }}</p>


<h1>American football</h1>
<app-content-card *ngFor="let contentItem of contentItems | contentTypeFilter: 'American football'" [contentItem]="contentItem"></app-content-card>

<h2>National Football</h2>
<app-content-card *ngFor="let contentItem of contentItems | contentTypeFilter: 'National Football'" [contentItem]="contentItem"></app-content-card>

<h2>Empty as No set</h2>
<app-content-card *ngFor="let contentItem of contentItems | contentTypeFilter: ' '" [contentItem]="contentItem"></app-content-card>



<!-- Ass 2 -->
<!-- <div *ngFor="let contentItem of contentList; 
            let isFirst = first" 
            class="content-card" [class.first-item]="isFirst">

    <img [src]="contentItem.imgUrl" class="content-card-image" height="250px" width="200px" (click)="showContentIdTitle(contentItem)">

    <h2>{{ contentItem.title }}</h2>
    <p><strong>Description:</strong> 
        {{ contentItem.description }}
    </p>
    
    <p><strong>Creator:</strong> 
        {{ contentItem.creator }}
    </p>
    
    <p *ngIf="contentItem.type">
        <strong>Type: </strong>
        {{ contentItem.type }}
    </p>


    <p *ngIf="contentItem.tags && contentItem.tags.length > 0">
        <strong>Tags:</strong> 
        {{ contentItem.tags.join(', ') }}
    </p>


</div> -->
