.content-card {
    padding: 25px;
    margin: 10px;
    border: 1px solid #dc05ca;
    background-color: rgb(60, 247, 184);
    text-align: left;
    
  }


  .first-item {
    padding: 15px;
    margin: 20px;
    border: 2px solid black;
    background-color: aquamarine;
    
  }

  .contentItem.imgUrl.imgUrl {
    max-width: 100%;
    height: auto;
    cursor: pointer; /* cursor, for clickable*/
}

h2{
  color: yellow;
}
h2:first-of-type{
  color: #f102be;
}

h2:last-of-type{
  color: rgb(64, 249, 187);
}

button{
  background-color: aquamarine;
  padding: 5px 10px;
  border: 0px;
  cursor: pointer;
  
}
button:hover{
  // transform: scale(1.1);
  background-color: #f102be;
  color: white;
}


input{
  padding: 5px 10px;
  outline: none;
  margin-right: 5px;

}