.content-card {
    padding: 25px;
    margin: 10px;
    border: 1px solid #dc05ca;
    
  }
  
  .first-item {
    padding: 15px;
    margin: 20px;
    border: 2px solid black;
    
  }

  .contentItem.imgUrl.imgUrl {
    max-width: 100%;
    height: auto;
    cursor: pointer; /* cursor, for clickable*/
}

