<!-- <p>add-content-dialog works!</p> -->

<div>
    <h2>Add New Content</h2>
    <form #contentForm="ngForm">
        <mat-form-field>
          <label>Title: </label>
          <input matInput [(ngModel)]="newContent.title" name="title" required>
        </mat-form-field>

        <mat-form-field>
          <label>Description: </label>
          <input matInput [(ngModel)]="newContent.description" name="description" required>
        </mat-form-field>

        <mat-form-field>
          <label>Creator: </label>
          <input matInput [(ngModel)]="newContent.creator" name="creator" required>
        </mat-form-field>

        <mat-form-field>
          <label>Image URL: </label>
          <input matInput [(ngModel)]="newContent.imgUrl" name="imgUrl">
        </mat-form-field>

        <mat-form-field>
          <label>Type: </label>
          <mat-select [(ngModel)]="newContent.type" name="type">
            <mat-option value="domain">American football</mat-option>
            <mat-option value="National Football">National Football</mat-option>
            <mat-option *ngFor="let type of contentTypes" [value]="type">{{ type }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <label>Tags: </label>
          <input matInput [(ngModel)]="newContent.tags" name="tags">
        </mat-form-field>

        <button type="button" (click)="addContent(newContent); contentForm.resetForm()">Add Content</button>
        <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      
    </form>
    
  </div>