<!-- <div>
    <div>
        @for(Items of contentList.Items; track Items.id; let i = $index){
            <div [innerHTML]="contentList.displayFriendlyHtml(i)">
            </div>
        }
    </div>
  </div> -->
<!-- ----------------------------------------------- -->

<!-- Ass4 -->

  <div class="content-card" [ngClass]="{
    'national football': contentItem.type === 'National football',
    'american football': contentItem.type === 'American football',
    'unspecified': !contentItem.type}">
    
    

    <!--  Add ngIf & set Defaut image -->

    <img [src]="contentItem.imgUrl" *ngIf="contentItem.imgUrl; else defaultImage" alt="{{ contentItem.title }}" class="content-card-image" height="200px">
    

    <ng-template #defaultImage>
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/16/Super_Bowl_logo.svg/640px-Super_Bowl_logo.svg.png" alt="No set image equal Default Image" class="content-card-image" height="200px">
    </ng-template>

  

    <h2>{{ contentItem.title }}</h2>

          <p><strong>Description:</strong> {{ contentItem.description }}</p>

          <p><strong>Creator:</strong> {{ contentItem.creator }}</p>

          <p *ngIf="contentItem.type" appHoverAffect [affectType]="'underline'"><strong>Type: </strong>{{ contentItem.type }}</p>

          <p *ngIf="contentItem.tags && contentItem.tags.length > 0">
            
            <strong>Tags: </strong>
            
            <span *ngFor="let tag of contentItem.tags" appHoverAffect [affectType]="'bold'">{{ tag }}, </span>
          
          </p>
          
          <!-- <p *ngFor="let tag of contentItem.tags" appHoverAffect [affectType]="'bold'"><strong>Tags: </strong>{{ tag }}</p> -->
            
  </div>

<!-- End Ass4 -->



  <!-- Ass 3 --> 


  <!-- <div

    class="content-card" [ngClass]="{
    'national football': contentItem.type === 'National football',
    'american football': contentItem.type === 'American football',
    'unspecified': !contentItem.type
  }" appHoverAffect [affectType]="'underline'"> Apply the Hover-Affect directive here -->
  

      <!-- <img [src]="contentItem.imgUrl" *ngIf="contentItem.imgUrl" alt="{{ contentItem.title }}" 
      class="content-card-image" height="200px" width="150px">
      

      <ng-template #defaultImage>
        <img src=" " alt="Default Image" class="content-card-image" height="200px" width="150px">
    </ng-template>


    

      <div *ngIf="contentItem.imgUrl">
        
          <h2>{{ contentItem.title }}</h2>

          <p><strong>Description:</strong> {{ contentItem.description }}</p>

          <p><strong>Creator:</strong> {{ contentItem.creator }}</p>

          <p *ngIf="contentItem.type"><strong>Type: </strong>{{ contentItem.type }}</p>

          <p *ngIf="contentItem.tags && contentItem.tags.length > 0"><strong>Tags:</strong> {{ contentItem.tags.join(', ') }}</p>

      </div>
      
  end ass 3 -->





 