

/* content-card.component.css */

.content-card {
    border: 1px solid #000; /* 1 pixel border */
    padding: 10px;
    margin: 10px;
  }
  
.content-card.first-item {
    border-width: 2px; /* 2 pixel border for the first card */
}
  
.content-image {
    max-width: 100%;
    height: auto;
    cursor: pointer; /* cursor, for clickable*/
}
