

/* content-card.component.css */

// .content-card {
//     border: 1px solid #000; /* 1 pixel border */
//     padding: 10px;
//     margin: 10px;
//   }
  

// .content-image {
//     max-width: 100%;
//     height: auto;
//     cursor: pointer; /* cursor, for clickable*/
// }

.content-card {
  border: 2px solid #f102be;
  background-color: rgb(198, 240, 226);
  padding: 10px;
  margin: 10px;
  // display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}



